{% extends "base.twig" %}

{% block header %}
	<section class="page__header news__header" style="background-image: url('{{ post.thumbnail.src }}')">
        <div class="topnav" id="topnav" role="banner">
					<h1 class="logo-h1">
						<a class="logo-a" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
						{% include "menu.twig" with {'items': mainmenu.get_items} %}
        </div>
        <div class="content-headertext">
            <h1 class="headertext">{{post.meta("header-text")}}</h1>
        </div>
       <div class="content-bottom">
            <div class="empty-div">
            </div>
            <a href="/book-me" class="book-now-button">
                BOOK NOW!
            </a>
      </div>
	</section>
{% endblock %}

{% block content %}
    <section class="news maxwidthcontainer">
     <h2> News Archiv </h2>
     <div class="news-container"> 
        {% for post in news %}
        <article class="single_news-post"> 
        <a href="{{post.link}}">
            <h3> {{ post.title }}</h3>
            <div> {{post.post_content|excerpt(100)}} </div>
            </a>
        </article>
        {% endfor%}
    </div>
    </section>
    
{% endblock %}
