<section class="footer__top-container">
    <div class="top-container__left"> 
        <nav class="footer__legal-nav"> 
            <ul>
            {% for item in legalmenu.items %}
                <li class="legal-nav__item {{ item.classes|join(' ') }}">
                    <a class="legal-nav__item-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="top-container__right"> 
        <nav class="footer__social-nav"> 
        <p class="social-nav__prefix"> Find me on: </p>
        <ul>
            {% for item in socialmenu.items %}
                <li class="social-nav__item {{ item.classes|join(' ') }}">
                    <a class="social-nav__item-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        <div class="footer__contact-details"> 
            <p><span>Phone: </span> <span><a href="tel:+43664987612">+43 664 987612</a></span></p>
            <p><span>Email: </span> <span><a href="mailto:chofer@gig.at">chofer@gig.at</a></span></p>
        </div>
    </div>
</section>
<div class="footer__bottom-container">
    <p class="footer__copyright"> &copy; {{"now"|date('Y')}} by the CMS Pioneers </p>
</div>
